* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #F7F9F9;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .1rem;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100vw;
}

.app .landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100vw;
}

.app .landing.open {
  position: unset;
  width: 0;
  visibility: hidden;
  -webkit-transition: all 1.5s ease-in-out 1.5s;
  transition: all 1.5s ease-in-out 1.5s;
}

.app .landing .left-top {
  background: #000000;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  height: 50vh;
  opacity: 0.9;
  width: 50vw;
}

.app .landing .left-top.open {
  -webkit-box-shadow: inset 0 0 0 5px #3891a6;
          box-shadow: inset 0 0 0 5px #3891a6;
  height: 0;
  opacity: 0;
  -webkit-transform: rotate(-90deg) translate(-100%, -100%);
          transform: rotate(-90deg) translate(-100%, -100%);
  visibility: hidden;
  -webkit-transition: .8s ease-in-out .5s;
  transition: .8s ease-in-out .5s;
}

.app .landing .left-bottom {
  background: #000000;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  height: 50vh;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  grid-row: 2 / -1;
  opacity: 0.5;
  width: 50vw;
}

.app .landing .left-bottom.open {
  -webkit-box-shadow: inset 0 0 0 5px #3891a6;
          box-shadow: inset 0 0 0 5px #3891a6;
  height: 0;
  opacity: 0;
  -webkit-transform: rotate(90deg) translate(-100%, 100%);
          transform: rotate(90deg) translate(-100%, 100%);
  visibility: hidden;
  -webkit-transition: .8s ease-in-out .5s;
  transition: .8s ease-in-out .5s;
}

.app .landing i {
  background: #000000;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: #3891a6;
  font-size: 3rem;
  margin: 46vh 47vw;
  padding: 2rem;
  position: absolute;
  -webkit-transition: .8s ease-in-out .5s;
  transition: .8s ease-in-out .5s;
}

.app .landing i:hover {
  -webkit-box-shadow: inset 0 0 0 5px #3891a6;
          box-shadow: inset 0 0 0 5px #3891a6;
  cursor: pointer;
  -webkit-transition: .8s ease-in-out .5s;
  transition: .8s ease-in-out .5s;
}

.app .landing .right-top {
  background: #000000;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  height: 50vh;
  grid-column: 2/-1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  opacity: 0.5;
  width: 50vw;
}

.app .landing .right-top.open {
  -webkit-box-shadow: inset 0 0 0 5px #3891a6;
          box-shadow: inset 0 0 0 5px #3891a6;
  height: 0;
  opacity: 0;
  -webkit-transform: rotate(90deg) translate(100%, -100%);
          transform: rotate(90deg) translate(100%, -100%);
  visibility: hidden;
  -webkit-transition: .8s ease-in-out .5s;
  transition: .8s ease-in-out .5s;
}

.app .landing .right-bottom {
  background: #000000;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  height: 50vh;
  grid-column: 2/-1;
  grid-row: 2/-1;
  opacity: 0.9;
  width: 50vw;
}

.app .landing .right-bottom.open {
  -webkit-box-shadow: inset 0 0 0 5px #3891a6;
          box-shadow: inset 0 0 0 5px #3891a6;
  height: 0;
  opacity: 0;
  -webkit-transform: rotate(-90deg) translate(100%, 100%);
          transform: rotate(-90deg) translate(100%, 100%);
  visibility: hidden;
  -webkit-transition: .8s ease-in-out .5s;
  transition: .8s ease-in-out .5s;
}

.app header {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.app header ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.app header ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  text-align: center;
}

.app header ul li a:hover {
  opacity: 0.9;
}

.app header ul li .link-active {
  color: #3891a6;
  font-weight: 600;
  letter-spacing: .2rem;
}

.app header ul li i {
  font-size: 1.5rem;
}

.app main {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8))), url("../images/tattoo-tara.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/tattoo-tara.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.app footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/*# sourceMappingURL=global.css.map */